<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/security
                        http://www.springframework.org/schema/security/spring-security.xsd">

    <!--
        default-target-url:自定义用户登陆登陆成功跳转的page
        authentication-failure-url:登陆失败跳转的page
        use-expressions:Spring表达式语言配置访问控制
    -->
    <http auto-config="true" access-denied-page="/403.action" use-expressions="false">
        <!--这是spring 提供的http/https信道安全的这个是重要的！你的请求信道是安全的！-->
        <form-login login-page="/login.action" authentication-failure-url="/error"
                    default-target-url="/"/>
        <!--登录页面不拦截,另一种方式：<http pattern="/login.action" security="none"/> -->
        <intercept-url pattern="/login.action*" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <!--主页不拦截-->
        <intercept-url pattern="/" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <!--test接口-->
        <intercept-url pattern="/test/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <!-- 404,403,error页面不拦截-->
        <intercept-url pattern="/403" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/404" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <intercept-url pattern="/error" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <!--配置权限拦截，访问所有url，都需要用户登录-->
        <intercept-url pattern="/oneUser/**" access="ROLE_user,ROLE_admin"/>
        <!--配置权限拦截，访问admin下url，都需要管理员登录-->
        <intercept-url pattern="/admin/**" access="ROLE_admin"/>
    </http>

    <!--用户配置-->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="admin" authorities="ROLE_admin"/>
                <user name="make" password="make" authorities="ROLE_user"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>